<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bảng điểm cá nhân</title>
    <?php
       echo '<base href="'.$_SESSION['BASE_URL'].'/" />';
       echo  '<link rel="icon" href="'.$_SESSION['BASE_URL'].'//etc/img/HUST_logo.jpg">';
       ?>
    <link rel="stylesheet" href="etc/css/bootstrap.min.css">
    <link rel="stylesheet" href="etc/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="etc/css/custom.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="etc/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <?php
       $page = 'bang diem ca nhan';
       include $_SESSION['BASE_PATH'].'/views/user/navbar.html';
       ?>
    <div id="mainContent">
    <div class="container-fluid">
      <div class="page-header">
        <h1>Bảng điểm cá nhân</h1>
      </div>
      <div class="panel panel-primary" style="width: 90%">
        <div class="panel-heading" style="text-align:center;">
	  <?php
             echo '<b>Bảng điểm của sinh viên '.htmlspecialchars($_SESSION['fullname']).'</b>';
	     ?>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Học kỳ</th>
                <th>Mã học phần</th>
                <th>Tên học phần</th>
                <th>Tín chỉ</th>
                <th>Lớp học</th>
                <th>Điểm quá trình</th>
                <th>Điểm thi</th>
                <th>Điểm chữ</th>
              </tr>
            </thead>
            <tbody>
	      <?php
		 while ( $row_table_point = mysqli_fetch_assoc( $result_table_point) ){
		 echo '<tr>';
		 echo '<td>'.htmlspecialchars($row_table_point['semester']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['id_subject']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['name_subject']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['credits_subject']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['id_class']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['mid_point']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['end_point']).'</td>';
		 echo '<td>'.htmlspecialchars($row_table_point['point_by_string']).'</td>';
		 echo '</tr>';
		 }
		 ?>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    
    <?php
       include $_SESSION['BASE_PATH'].'/views/user/footer.html';
       ?>
  </body>

</html>
