
<!doctype html>
<html>
<head>
   <title>Hệ thống Quản lý đào tạo</title>
  <meta charset="utf-8">
  <meta name="keywords" content="Hệ thống, đào tạo, quản lý, quản lý đào tạo" />
  <meta name="description" content="Hệ thống Quản lý đào tạo" />
  <link rel="stylesheet" type="text/css" href="etc/css/style.css"/>
  <link rel="shortcut icon" href="etc/img/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="etc/js/jquery.js"></script>
  <script type="text/javascript" src="etc/js/script.js"></script>
  <script type="text/javascript" src="etc/js/jquery-ui-1.10.2.custom.js"></script>
  <link rel="stylesheet" href="etc/css/ui-lightness/jquery-ui-1.10.2.custom.css" />
  <link rel="stylesheet" href="etc/css/jmetro/jquery-ui-1.10.2.custom.css" />
</head>
<body>
  <div id="pageWrapper">
    <div id="header">
    </div>
    <div id="nav">
        <div  id="menu" >
      </div>
      <div  id="login">
        <?php
          echo '<a>Xin chào '.$_SESSION['fullname'].'</a>';
          echo '<a href="'.$_SESSION['BASE_URL'].'/controllers/user/user_logout.php">| Đăng xuất</a>';
        ?>
      </div>
    </div> 
  <div id="contentWrapper" >
  <div id="leftSide" >
    <div class="group-box" id="danhmuc">
      <div class="title">Tài khoản</div>
      <div class="group-box-content">
        <ul>
       	<?php
            echo '<li><a href="'.$_SESSION['BASE_URL'].'/controllers/user/thong_tin_ca_nhan.php">Thông tin cá nhân</a></li>';
            echo '<li><a href="'.$_SESSION['BASE_URL'].'/controllers/user/doi_mat_khau.php">Đổi mật khẩu</a></li>';
	?>
        </ul>
      </div>
    </div>
       <div class="group-box" id="danhmuc">
      <div class="title">Kết quả học tập</div>
      <div class="group-box-content">
        <ul>
       <?php
                   echo '<li><a href="'.$_SESSION['BASE_URL'].'/controllers/user/bang_diem_ca_nhan.php" class="">Bảng điểm cá nhân</a></li>';
		?>
        </ul>
      </div>
    </div>
         <div class="group-box" id="danhmuc">
      <div class="title">Đăng kí học tập</div>
      <div class="group-box-content">
        <ul>
       <?php
                echo '<li><a href="'.$_SESSION['BASE_URL'].'/controllers/user/danh_sach_lop_hoc.php" class="">Danh sách lớp học</a></li>';
                echo '<li><a href="'.$_SESSION['BASE_URL'].'/controllers/user/dang_ki_lop_hoc.php" class="">Đăng ký lớp học</a></li>';
                ?>
        </ul>
      </div>
    </div>
         <div class="group-box" id="danhmuc">
      <div class="title">Hướng dẫn</div>
      <div class="group-box-content">
        <ul>
       <?php
                   echo '<li><a href="'.$_SESSION['BASE_URL'].'/controllers/user/huong_dan_dang_ki_lop.php" class="">Hướng dẫn đăng ký lớp</a></li>';
		   ?>
        </ul>
      </div>
         </div>
  </div>