<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang chủ</title>
    <?php
       echo '<base href="'.$_SESSION['BASE_URL'].'/" />';
       echo  '<link rel="icon" href="'.$_SESSION['BASE_URL'].'//etc/img/HUST_logo.jpg">';
       ?>   
    <link rel="stylesheet" href="etc/css/bootstrap.min.css">
    <link rel="stylesheet" href="etc/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="etc/css/admin_custom.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="etc/js/bootstrap.min.js"></script>
  </head>

  <body>
    <?php $page = 'trang chu';
	  include $_SESSION['BASE_PATH'].'/views/admin/admin_navbar.html';
	  ?>
    <div class="container-fluid">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Trang chủ</h1>
        
        <div style="padding-top:10px;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/svbk.JPG" class="fill" style="width:100%;height:400px" alt="First slide">';
		 ?>
              <div class="carousel-caption">
                Giảng đường - Trường Đại học Bách Khoa Hà Nội
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/hust3.png" style="width:100%;height:400px" alt="Second slide">';
		 ?>
              <div class="carousel-caption">
                Khuôn viên - Trường Đại học Bách Khoa Hà Nội
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/IMG_4670.JPG" style="width:100%;height:400px" alt="Third slide">';
		 ?>
              <div class="carousel-caption">
                Sinh viên Đại học Bách Khoa Hà Nội
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/c1bachkhoa.jpg" style="width:100%;height:400px" alt="Fourth slide">';
		 ?>
              <div class="carousel-caption">
                Trường Đại học Bách Khoa Hà Nội
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/hust4.png" style="width:100%;height:400px" alt="Fifth slide">';
		 ?>
              <div class="carousel-caption">
                C1 - Đại học Bách Khoa Hà Nội
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/thuvienbk.png" style="width:100%;height:400px" alt="Sixth slide">';
		 ?>
              <div class="carousel-caption">
                Thư viện Tạ Quang Bửu - Đại học Bách Khoa
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/bachkhoahanoi1.png" style="width:100%;height:400px" alt="Seventh slide">';
		 ?>
              <div class="carousel-caption">
                Đài phun nước C1 - Đại học Bách Khoa Hà Nội
              </div>
            </div>
            <div class="item">
	      <?php
		 echo '<img src="'.$_SESSION['BASE_URL'].'/etc/img/hust2.png" style="width:100%;height:400px" alt="Eighth slide">';
		 ?>
              <div class="carousel-caption">
                Toàn cảnh C1 - Đại học Bách Khoa
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Trước</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Sau</span>
          </a>
        </div>
        </div>
      </div>
    </div>
    
  </body>
  
</html>
